<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="component.update">

    <application>
        <service
            android:name="component.update.AppDownloadService"
            android:exported="false" />

        <provider
            android:name="component.update.AppUpdateFileProvider"
            android:authorities="${applicationId}.appupdate.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/appupdate_filepaths" />
        </provider>
    </application>

</manifest>
